<%# partials/dashboard.ejs %>

<!-- Footer -->
<div class="dashboard-section">
    <small></small>
    <div class="dashboard-item">Status: Online </div>
    <div class="dashboard-item">Inference: 10 tokens/s </div>
    <div class="dashboard-item">Online Nodes: 5/10</div>
    <div class="dashboard-item">CPU: 10 THz</div>
    <div class="dashboard-item">GPU: 10 PFlops</div>
    <div class="dashboard-item">HDD: 10 TB</div>
</div>
