<%# partials/footer.ejs %>

<!-- Footer -->
<div class="footer">
    <hr>
    <small><a href="#">Footer1</a> · <a href="#">Footer2</a> · <a href="#">Footer3</a></small><br>
    <small>&copy; All rights reserved.</small>
</div>
