<%# // partials/header.ejs %>
<!-- Message Section -->
<div class="header-section">
    <div class="info-item">
        <a href="/"><img src="/images/action.gif" height="11" width="56" alt="new">Item</a><br>Description
    </div>
    <div class="">
        <!-- Logo and Header -->
        <a href="/"><img width="350" src="/images/logo.png" alt="Acorn SH Logo"></a>
    </div>
    <div class="info-item">
        <% if (user) { %>
            <a href="/account">my account</a> · <a href="/auth/logout">logout</a>
            <br>members only
        <% } else { %>
            <a href="/members">log in/sign up</a><br>members only
        <% } %>
    </div>
</div>

<div class="links-section">
    <a href="/">Menu 1</a> ·
    <a href="/">Menu 2</a> ·
    <a href="/">Menu 3</a>

</div>
