<%# // partials/launch.ejs %>

    <!-- Left Column -->

    <main class="left-twocolumn">
        <div class="line-left-twocolumn"></div>
        <div>
            <h1>Rewards for your GPU</h1>
            <p>Multi-platform, easy-to-use client. Please install Docker and ensure it is running. You can select what
                containers you want to run on your computer. We highly recommend you run one or two containers and add
                more containers later to increase profitability.</p>
            <br>
            <!-- Download Section -->
            <div class="focus-section">
                <div class="" style="display:block;">
                    <img src="https://placehold.co/394x150.png" width="394" height="150" alt="Windows">
                    <p>It is the cause, it is the cause, my soul,— Let me not name it to you, you chaste stars!— It is
                        the cause. Yet I’ll not shed her blood; Nor scar that whiter skin of hers than snow, And smooth
                        as monumental alabaster. Yet she must die, else she’ll betray more men. Put out the light, and
                        then put out the light…</p>
                </div>
            </div>

        </div>
        <div id="download-acorn">

            <h1>Download Acorn SH Client</h1>
            <p>Multi-platform, easy-to-use client. Please install Docker and ensure it is running. You can select what
                containers you want to run on your computer. We highly recommend you run one or two containers and add
                more containers later to increase profitability.</p>
            <br>
            <!-- Download Section -->
            <div class="bordered-section">
                <div class="tab">
                    <button class="tablinks active" onclick="openClient(event, 'Windows')">Windows</button>
                    <button class="tablinks" onclick="openClient(event, 'macOS')">macOS</button>
                    <button class="tablinks" onclick="openClient(event, 'Linux')">Linux</button>
                </div>
                <!-- Tab Content -->
                <div>

                    <div class="tabcontent-container">
                        <div id="Windows" class="tabcontent" style="display:block;">
                            <img src="https://placehold.co/394x150.png" width="394" height="150" alt="Windows">
                            <p>Windows, easy-to-use client. Please install Docker and ensure it is running. You can
                                select what containers you want to run on your computer. We highly recommend you run one
                                or two containers and add more containers later to increase profitability.</p>
                            <a href="/download/acorn-logo-640px.png">Download</a>
                        </div>
                        <div id="macOS" class="tabcontent">
                            <img src="https://placehold.co/394x150.png" width="394" height="150" alt="macOS">
                            <p>macOS, easy-to-use client. Please install Docker and ensure it is running. You can select
                                what containers you want to run on your computer. We highly recommend you run one or two
                                containers and add more containers later to increase profitability.</p>
                            <a href="/download/acorn-logo-640px.png">Download</a>
                        </div>
                        <div id="Linux" class="tabcontent">
                            <img src="https://placehold.co/394x150.png" width="394" height="150" alt="Linux">
                            <p>Linux, easy-to-use client. Please install Docker and ensure it is running. You can select
                                what containers you want to run on your computer. We highly recommend you run one or two
                                containers and add more containers later to increase profitability.</p>
                            <a href="/download/acorn-logo-640px.png">Download</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </main>
    <script>
        function openClient(evt, clientName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(clientName).style.display = "block";
            if (evt) {
                evt.currentTarget.className += " active";
            } else {
                document.querySelector('.tablinks[onclick="openClient(event, \'' + clientName + '\')"]').className += " active";
            }
        }

        // Detect OS and open corresponding tab on page load
        function detectOS() {
            var platform = window.navigator.platform;
            var macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K', 'darwin'];
            var windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'];

            if (macosPlatforms.indexOf(platform) !== -1) {
                openClient(null, 'macOS');
            } else if (windowsPlatforms.indexOf(platform) !== -1) {
                openClient(null, 'Windows');
            } else if (/Linux/.test(platform)) {
                openClient(null, 'Linux');
            }
        }

        window.onload = function () {
            detectOS();
        };
    </script>

    <!-- <img width="56" height="11" src="/images/soon.gif" alt="Coming Soon"> -->