<%# // partials/main-column.ejs %>

<!-- Left Column -->
<div class="left-twocolumn">
    <div class="focus-section">
        <!-- Main Section -->
        <p>Main column</p>
    </div>

</div>

<!-- <img width="56" height="11" src="/images/soon.gif" alt="Coming Soon"> -->