<%# // partials/right-column.ejs %>

<!-- Right Column-->
<div class="right-twocolumn">
    <div class="bordered-section">
        <div class="section-title">Text1</div>
        <div class="section-title-text">
            <ul>
                <li>Text</li>
                <li><p><a href="/pages/quick-start">more...</a></p></li>
            </ul>
        </div>

        <div class="section-title">Text2</div>
        <div class="section-title-text">
            <ul>
                <li>Text</li>
                <li><p><a href="/pages/tutorials">more...</a></p></li>
            </ul>
        </div>

        <div class="section-title">Text3</div>
        <div class="section-title-text">
            <ul>
                <li>Text.</li>
                <li><p><a href="" >more...</a></p></li>
            </ul>
        </div>
    </div>
</div>
