
<%# // partials/header.ejs %>

<!-- Search Bar -->
<div class="search-bar">
    <input type="search" name="search_bar" placeholder="What are you looking for?">
    <input type="submit" value="  Search  ">
</div>
