<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>505 - Server Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="new-project-page">
        <h1>500 - Server Error</h1>
        <h3>Sorry, something went wrong on our end.</h3>
        <a href="/">Go Back to Home</a>
    </main>
</body>
</html>
