<%# pages/temp.ejs %>

<%- include('../layout', { 
    title: 'Your Title', 
    description: 'Description',
    body: `
    
    <main class="center-monocolumn">
        Hey
    </main>
    
    `
}) %>
